/* You can add global styles to this file, and also import other style files */
@import url('./variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary);
}

body {
    background-color: var(--border-color);
    position: relative;
}

body,
input,
textarea,
select,
button {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1rem;
    color: var(--text);
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 720px;
}