:host {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    border-radius: 5px;
    padding: 1rem;
    width: 80%;
    max-width: 720px;
    min-height: 80%;
    box-shadow: 0 0 0 2px var(--primary);
}

.dialog-form {
    display: flex;
    flex-direction: column;
    gap: .875rem;
    margin-top: 1rem;
}
.dialog-form label {
    font-weight: 700;
}
.dialog-form input, .dialog-form select {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: .5rem;
}
.dialog-form_inputGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 768px) {
    .dialog-form_inputGroup {
        flex-direction: row;
        justify-content: space-between;
    }
    .dialog-form_inputGroup .fullWidth {
        width: 100%;
    }
}
.dialog-form_inputGroup div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.form-buttons_save, .form-buttons_clear {
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
}
@media screen and (min-width: 728px) {
    .form-buttons {
        justify-content: flex-end;
    }
    .form-buttons_save, .form-buttons_clear {
        width: auto;
    }
}
.form-buttons_save {
    background-color: var(--primary);
}
.form-buttons_clear {
    background-color: var(--danger);
}